<%= content_tag :div, id: "temp_poem", data: {poem: @poem} {} %>
<%= content_tag :div, id: "poems", data: {poems: @poems} {} %>
<div id="main">
  <div id="editor">
    <span id="cursor">|</span>
  </div>
  <div id="score">
  </div>
  <br><br><br><br>
  <div id="wpm">
  </div>
  <section class="border" id="next">
  </section>
</div>
